<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {{ page_title|default:"Untitled Page" }}
      {% endblock title %}
    </title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link href="static/fa/css/all.css" rel="stylesheet" />
    <link href="static/fa/svgs/solid/bus.svg" rel="icon" />
  </head>

  <body>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% block content %}
      <p>Placeholder text in base template. Replace with page content.</p>
      {% endblock content %}
    </div>
  </body>
</html>
